{{#each errors}}
    <div class="alert alert-danger" style="    width: 44%;
    position:relative;
    top: 6%;
    left: 28%;">
        <div class="alert-title">{{text}}</div>
    </div>
    <br>
{{/each}}