<footer id="footer">

    <!-- FOOTER TOP -->
    <div class="footer_top">
        <div class="container">
            <div class="row">

                <!-- WIDGET MAILCHIMP -->
                <div class="col-lg-8">
                    <div class="mailchimp">
                        <h4>News &amp; Offers</h4>
                        <div class="mailchimp-form">
                            <form action="/email" method="POST">
                                <input type="email" name="email" placeholder="Your email address" value="{{email}}"  class="input-text">
                                <button class="awe-btn">SIGN UP</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END / WIDGET MAILCHIMP -->

           
                <!-- END / WIDGET SOCIAL -->

            </div>
        </div>
    </div>
    <!-- END / FOOTER TOP -->

    <!-- FOOTER CENTER -->
    <div class="footer_center">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-5">
                    <div class="widget widget_logo">
                        <div class="widget-logo">
                            <div class="img">
                                <a href="#"><img src="../../public/images/logo-footer.png" alt=""></a>
                            </div>
                            <div class="text">
                                <p><i class="hillter-icon-location"></i> Link Road Mumbai</p>
                                <p><i class="hillter-icon-phone"></i> 1-548-854-8898</p>
                                <p><i class="fa fa-envelope-o"></i> alpachandapa123@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Page site</h4>
                        <ul>
                            <li><a href="rooms">Rooms</a></li>
                            <li><a href="restaurant">Restaurant</a></li>
                            <li><a href="reservation">Reservation</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">ABOUT</h4>
                        <ul>
                            <li><a href="about">About</a></li>
                            <li><a href="contactus">Contact US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END / FOOTER CENTER -->

    <!-- FOOTER BOTTOM -->
    <div class="footer_bottom">
        <div class="container">
            <p>&copy; 2019 Queens palace Hotel All rights reserved.</p>
        </div>
    </div>
    <!-- END / FOOTER BOTTOM -->

</footer>