<header id="header">

    <!-- HEADER TOP -->
    <div class="header_top">
        <div class="container">
            <div class="header_left float-left">
                <span><i class="hillter-icon-cloud"></i> 32 °C</span>
                <span><i class="hillter-icon-location"></i>link Road, Mumbai</span>
                <span><i class="hillter-icon-phone"></i> 1-548-854-8898</span>
            </div>
            <div class="header_right float-right">
                {{#if user}}
                <span class="login-register">
                    <a href="logout">logout</a>
                </span>
                {{else}}
                <span class="login-register">
                    <a href="login">Login</a>
                    <a href="register">register</a>
                </span>
                {{/if}}


            </div>
        </div>
    </div>
    <!-- END / HEADER TOP -->

    <!-- HEADER LOGO & MENU -->
    <div class="header_content" id="header_content">

        <div class="container">
            <!-- HEADER LOGO -->
            <div class="header_logo">
                <a href="#"><img src="images/logo-header.png" alt=""></a>
            </div>
            <!-- END / HEADER LOGO -->

            <!-- HEADER MENU -->
            <nav class="header_menu">
                <ul class="menu">
                    <li class="current-menu-item">
                        <a href="/">Home <span class=""></span></a>
                    </li>
                    <li><a href="about">About</a></li>

                    <li>
                        <a href="rooms">Room <span class=""></span></a>

                    </li>
                    <li>
                        <a href="restaurant">Restaurant <span class=""></span></a>
                    </li>


                    <li><a href="contactus">Contact</a></li>
                </ul>
            </nav>
            <!-- END / HEADER MENU -->

            <!-- MENU BAR -->
            <span class="menu-bars">
                <span></span>
            </span>
            <!-- END / MENU BAR -->

        </div>
    </div>
    <!-- END / HEADER LOGO & MENU -->

</header>
<!-- END / HEADER -->