<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>Queens palace</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/font-hilltericon.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/lib/bootstrap-select.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '../../../connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1031554816897182');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1031554816897182&amp;ev=PageView&amp;noscript=1" /></noscript>
</head>

<body>
    {{> _nav}}

    <div id="preloader">
        <span class="preloader-dot"></span>
    </div>
    <div>
            <br>
            <br>
            <br>
            <br>
            <br>
                {{> _err}}
                <br>
                <br>
    {{{ body }}}
    </div>
    {{> _footer}}
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/bootstrap-select.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="../../public/js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/SmoothScroll.js"></script>
    <!-- validate -->
    <script type="text/javascript" src="../../public/js/lib/jquery.form.min.js"></script>
    <script type="text/javascript" src="../../public/js/lib/jquery.validate.min.js"></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src="../../public/js/scripts.js"></script>
    {{!-- <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../../../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20585382-5', 'megadrupal.com');
        ga('send', 'pageview');
    </script> --}}
</body>

</html>