<section class="section-account parallax bg-11">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2>LOGIN ACCOUNT</h2>
                <p>Login to reserve your rooms</p>
                <form action="login" method="post" class="account_form">
                    <div class="field-form">
                        <input type="email" class="field-text" placeholder="Email" name="email" value="{{email}}"
                            required>
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" name="password" value="{{password}}" placeholder="Password"
                            required>
                        <span class="view-pass"><i class="hillter-icon-view"></i></span>
                    </div>
                    <div class="field-form field-submit">
                        <button type="submit" class="awe-btn awe-btn-13">Login</button>
                    </div>
                    <span class="account-desc">I don’t have an account - <a href="register">register</a></span>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END / ACCOUNT -->