<section class="section-account parallax bg-11">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2>REGISTER FORM</h2>
                <p>If you no have account in Hillter Hotel! Register and feeling</p>
                <form action="/register" method="POST" class="account_form">
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="User name*" name="name" value="{{name}}"
                            required>
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Email*" name="email" value="{{email}}"
                            required>
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" name="password" value="{{password}}" id="" required>
                        <span class="view-pass"><i class="hillter-icon-view"></i></span>
                    </div>
                    <div class="field-form field-submit">
                        <button type="submit" class="awe-btn awe-btn-13">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>